<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!isEditable">{{ 'Create Contact' | translate }}</ion-title>
    <ion-title *ngIf="isEditable">{{ 'Edit Contact' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.picture.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.picture.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'Name' | translate }}" formControlName="name"></ion-input>
      </ion-item>
      <ion-label *ngIf="form.controls['name'].errors && form.controls.name.touched" text-center>
        <div>Name is required.</div>
      </ion-label>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'Description' | translate }}" formControlName="about"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" placeholder="{{ 'Primary Contact Number' | translate }}" formControlName="primary_contact_number"></ion-input>
      </ion-item>
      <div *ngIf="form.controls.primary_contact_number.errors && form.controls.primary_contact_number.touched">
        <ion-label *ngIf="form.controls.primary_contact_number.hasError('required')"  text-center>Contact number is required</ion-label>
        <ion-label *ngIf="form.controls.primary_contact_number.hasError('pattern')" text-center>
          Contact number is invalid
        </ion-label>
      </div>
      <ion-item>
        <ion-input type="tel" placeholder="{{ 'Work Contact Number' | translate }}" formControlName="work_contact_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="{{ 'Email' | translate }}" formControlName="email"></ion-input>
      </ion-item>
      <ion-label *ngIf="form.controls.email.hasError('pattern') 
        && form.controls.email.touched" text-center>
        <div>Email is invalid.</div>
      </ion-label>
      <ion-item>
        <ion-input type="url" placeholder="{{ 'Website' | translate }}" formControlName="website"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>