page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    margin-left: 15px;
    width: 100%;
    background: white;
  }
}
