<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic style="background-repeat: no-repeat;
  background-size: auto 100%;" [style.background-image]="'url(' + item.picture + ')'">
  </div>

  <div class="item-detail">
    <h2>{{item.name}}</h2>
    <p>{{item.about}}</p>
  </div>
  <div class="item-detail">
    <h6>Primary contact number</h6>
    <p>{{item.primary_contact_number}}</p>
  </div>
  <div class="item-detail">
    <h6>Work</h6>
    <p *ngIf="item.work_contact_number">{{item.work_contact_number}}</p>
    <p *ngIf="!item.work_contact_number">--</p>
  </div>
  <div class="item-detail">
    <h6>Email</h6>
    <p *ngIf="item.email">{{item.email}}</p>
    <p *ngIf="!item.email">--</p>
  </div>
  <div class="item-detail">
    <h6>Website</h6>
    <p *ngIf="item.website">{{item.website}}</p>
    <p *ngIf="!item.website">--</p>
  </div>


</ion-content>