<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Contacts' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-fab bottom right>
      <button ion-fab mini (click)="addContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-label *ngIf="contactList.length < 1">
        No contact found.
    </ion-label>
    <ion-item-sliding *ngFor="let contact of contactList;let i=index" #slidingItem>
      <button ion-item (click)="openItem(contact)">
        <ion-avatar item-start>
          <img *ngIf="contact.picture" [src]="contact.picture" />
          <img *ngIf="!contact.picture" src="assets/img/useravtar.png" />
        </ion-avatar>
        <h2>{{contact.name}}</h2>
        <p>{{contact.primary_contact_number}}</p>
        <ion-note item-end *ngIf="contact.note">{{contact.about}}</ion-note>
      </button>

      <ion-item-options side="left">
        <button ion-button icon-only color="secondary" (click)="call(contact,slidingItem)">
            &nbsp;<ion-icon ios="ios-call" md="md-call"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options>
        <button ion-button icon-only color="primary" (click)="addContact(contact)">  
          &nbsp;&nbsp;&nbsp;  <ion-icon ios="ios-create" md="md-create"></ion-icon>&nbsp;&nbsp;&nbsp;
        </button>
        <button ion-button icon-only color="danger" (click)="deleteContact(contact,i)">  
            &nbsp;&nbsp;&nbsp;  <ion-icon name="ios-trash"></ion-icon>&nbsp;&nbsp;&nbsp;
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>